streamlit
selenium
gspread
# gspread_dataframe # Parece que no lo usas directamente, si es así, puedes quitarlo. Si alguna función lo usa, mantenlo.
lxml
beautifulsoup4
pandas
playwright
chromedriver-py # Opcional, considerar si es necesario para el entorno de despliegue.
transformers==4.52.4
torch==2.7.0
