streamlit
selenium
gspread
# gspread_dataframe # Parece que no lo usas directamente, si es así, puedes quitarlo. Si alguna función lo usa, mantenlo.
beautifulsoup4
lxml
# chromedriver-py # Opcional, considerar si es necesario para el entorno de despliegue.
